
th {
    text-align: left;
    background: #4a89dc;
    color:      #fff;
}

td.FAIL {
    background: #da4453;
    color:      #fff;
}

td.PASS {
    background: #37bc9b;
    color:      #fff;
}

td.NOTRUN, td.TIMEOUT, td.undefined {
    background: #f6bb42;
    color:  #fff;
}

td.OK {
    color:  transparent;
}

tr.test {
    background: #ccd1d9;
}

tr.test > td:first-of-type {
    font-weight:    bold;
}

tr.test small {
    font-weight:    normal;
}

tr.subtest > td:first-of-type {
    padding-left:   2em;
    max-width:  790px;
    overflow:   hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}

dd {
    padding-left:   2em;
}
